.welcome-container {
  margin: auto, auto, auto, auto;
  align-items: center;
}

.welcome {
  text-align: center;
  justify-content: center;
}

.controls-container {
  margin: auto, auto, auto, auto;
  align-items: center;
}

.section-header {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.controls {
  text-align: center;
  justify-content: center;
}

.effects-container {
  margin: auto, auto, auto, auto;
  align-items: center;
}

.effects {
  justify-content: center;
  padding-top: 5px;
}

.slider {
  justify-content: left;
}

.bar {
  padding-top: 3px;
  height: 100px;
}

.switch {
  margin-top: -5px;
}

.envelope-container {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.envelope-controls {
  justify-content: center;
}

.oscillator-container {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.oscillators {
  justify-content: center;
}
